@import "./mixins";

body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

.navigation-buttons {
  position: absolute;
  bottom: -50px;
  right: 50px;
  padding-bottom: 20px;

  .btn-prev {
    margin-right: 20px;
  }
}

.main-header {
  text-align: center;
  font-size: 36px;
  color: #116149;
  margin: 10px 0;
}

.MuiStep-horizontal {
  @include respond(mobile) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.sub-chip-price {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  padding: 5px;
  top: 110px;
  right: 0;
  height: 35px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: center;
  width: 140px;
  background-color: #04aa6d;
  z-index: 100;

  @include respond(tablet) {
    font-size: 13px;
    width: 90px;
  }
}
.sub-chip-subscription {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  padding: 5px;
  top: 155px;
  right: 0;
  height: 35px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 140px;
  text-align: center;
  background-color: #04aa6d;
  z-index: 100;
  @include respond(tablet) {
    font-size: 13px;
    width: 90px;
  }
}
