.subscription-wrapper {
  //   width: 270px;
  //   height: 550px;
  border-radius: 4px;
  box-shadow: 0 6px 7px -5px rgb(0 0 0 / 50%);
  border: solid 1px #d7dbdb;
  background-color: #fff;
  margin: 20px;
}

.subscription {
  margin: 30px 25px;
}
