.default-input-view {
  border-bottom: 1px solid rgb(227, 227, 227);
  width: 100% !important;
  padding: 0 16px 5px;

  .default-input-label {
    color: rgb(128, 128, 128);
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 0.25px;
  }

  .default-input-value {
    color: rgb(44, 44, 44);
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.4px;
    word-break: break-word;
  }
}
