@import "../../styles/mixins";

.payment-step {
  position: relative;
  min-height: 500px;

  .payment-wrap {
    display: flex;
    align-items: center;
    flex-flow: row;
    justify-content: space-around;

    @include respond(tablet) {
      flex-flow: column-reverse;
    }

    img {
      height: 250px;
    }
  }

  .inputs-wrapper {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
